@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Red+Hat+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport {
  zoom: 1;
  width: extend-to-zoom;
}

body {
  box-sizing: border-box;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: space-between;
  background: radial-gradient(rgb(114, 170, 189), rgb(192, 192, 192))
}

header {
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-bottom: white solid 0.125em;
}

h1 {
  width: fit-content;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  /* text-align: left; */
  /* padding-left: 15%; */
  text-shadow: darkblue 5px 2px 15px;
  cursor: pointer;
 
}

h1 a {
  text-decoration: none;
  color: whitesmoke;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1em;
  font-style: italic;
  
}

nav, main, h4 {
  font-family: 'Red Hat Display', sans-serif;
}

header, nav, footer {
  background: linear-gradient(345deg, blue, navy, blue);
  color: white;
}

.home-nav {
  min-width: 48vw;
  min-height: 40vh;
  margin: auto;
  padding: 0.5em;
  border-radius: 20px;
  border: rgb(238, 238, 238) solid 1px;
  box-shadow: white 2px 2px 10px, white 2px -2px 10px, white -2px 2px 10px, white -2px -2px 10px;
  display: flex; /* would not work on my iPhone if all nav family members were not flexbox */
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.nav-link-list {
  max-height: 90%;
  display: flex; /* would not display correctly on my iPhone if this was not flexbox; maybe grid not supported fully yet */
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-content: center;
}

.nav-link a {
  color: rgb(238, 238, 238);
  text-decoration: none;
  text-shadow: white -1px 1px 20px; /* cool soft focus effect on links */
}

.home-nav .home-link {
  display: none;
}

.sub-page-nav {
  height: 10vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center; /* only centers the sub-nav */
  align-items: center;
  z-index: 10;
}

.sub-page-nav .nav-link {
  display: inline;
  padding: 0 0.5em;
  transition: transform .3s;
}

.sub-page-nav .nav-link {
  transform: scale(2);
}

.nav-link {
  font-size: 1em;
  margin: 0.5em auto;
  padding: 0.5em;
  /* line-height: 2em; */
  transition: transform .3s;
}

.nav-link:hover {
  transform: scale(2);
}

main {
  background: linear-gradient(345deg, rgb(149, 149, 204), rgb(85, 85, 250), rgb(149, 149, 204));
  color: black;
  box-shadow: rgb(37, 37, 37) 2px 2px 2px;
  border-radius: 5px;
  width: 90%;
  margin: 1em auto;
}

/* BIO PAGE */
#bio-main {
  width: 90%;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
}

#bio-main h3 {
  font-weight: bold;
  font-size: 2em;
  font-style: italic;
}

.about-pic, #bio-main article {
  max-height: 90%;
  max-width: 90%;
  display: inline;
  object-fit: contain;
  object-position: bottom;
}

#bio-main p {
  text-align: justify;
  font-size: 1.125em;
  padding: 0.5em 0;
  line-height: 1.125em;
}

/* CAROUSEL SECTION OF BIO */
#carousel {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
}

#carousel h2 {
  font-size: 1.5em;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5em;
  border-bottom: black 1px solid;
  text-shadow: white -1px 1px;
}

.carousel-container {
  width: 95%;
  display: flex;
  justify-content: space-around;
}

.carousel-images {
  width: 80%;
  background:rgb(149, 149, 204);
  padding: 1em;
  border-radius: 10px;
  box-shadow: rgb(37, 37, 37) 2px 2px;
}

.carousel-images img {
  display: none;
  width: 100%;
  border-radius: 10px;
  /* object-fit: cover;
  object-position: center; */
}

.carousel-images img:first-of-type {
  display: block;
}

.carousel-button {
  align-self: center;
  color: rgb(37, 37, 37);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgb(37, 37, 37) 1px 1px;
}

.carousel-button:hover {
  cursor: pointer;
  background: rgb(85, 85, 250);
  box-shadow: rgb(85, 85, 250) 1px 1px;
}

/* RESUME PAGE */
#resume-main {
  width: 70%;
  padding: 2em;
}

#resume-main h2 {
  font-size: 1.5em;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5em;
  /* border-bottom: black 1px solid; */
  /* text-shadow: white -1px 1px; */
}

#resume-main ul {
  padding: 0;
}

#resume-main h4 {
  padding: 1em;
}

#resume-main li {
  padding: 0.5em;
}

.element-div {
  padding: 1em;
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
}

/* PROJECTS PAGE */
#projects-main {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 1em;
  justify-content: center;
  align-items: flex-start;
}

#projects-main h2, #projects-main h4 {
  flex-basis: 100%;
}

#projects-main h2 {
  font-size: 2em;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  color:rgb(37, 37, 37);
  text-shadow: rgb(114, 170, 189) -1px 1px;
}

#projects-main h4 {
  font-size: 0.8em;
  border-bottom: black 2px solid;
  padding-bottom: 1em;
  margin: 0 10%;

}

/* Managing the cards and the modal open-card state */
.card { /* initial state, should just show project title and type */
  margin: 0;
  padding: 5px;
  /* width: 85vw; */
  flex-basis: 250px;
  background: linear-gradient(0deg, silver, whitesmoke, silver);
  border: 2px solid #222222;
  border-radius: 10px;
  box-shadow: black -2px 2px 2px;
  /* display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; */
  /* gap: 5px; */
}

.open-card-content > * {
  flex-basis: 100%;
}

.project-title {
  font-weight: bold;
  color:rgb(33, 33, 92);
  text-shadow: white -1px 1px;
}

.project-description {
  font-size: 1.25em;
}

.open-card img {
  min-height: 100px;
  max-height: 200px;
  min-width: 100px;
  max-width: 200px;
  object-fit: cover;
  object-position: top;
  box-shadow: grey -2px 2px 2px;
  border: 2px solid grey;
}

.card:hover {
  cursor: pointer;
}

.live-link, .github-link {
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 1em;
  margin: 0 20%;
}

.live-link {
  background-color: rgb(24, 170, 24);
}

.live-link a {
  color: navy;
}

.github-link {
  background-color:rgb(37, 37, 37);
}

.github-link a {
  color: silver;
}

.live-link:visited, .github-link:visited {
  color: white;
}

.exit-btn {
  font-family: 'Josefin Sans', sans-serif;
  padding: 0.5em;
  min-width: 10vw;
  max-width: 50vw;
  font-size: 1.25em;
  background: linear-gradient(10deg, blue, silver);
  border-radius: 25px;
  color:rgb(238, 238, 238);
}

#projects-main button {
  cursor: pointer;
}

.project-img, .project-description, .live-link, .github-link, .exit-btn {
  display: none;
}

.open-card {
  background: rgba(0,0,0,0.4);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: auto;
}

.open-card-content > * {
  flex-basis: 100%;
}

.open-card > .open-card-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1em; 
  height: 85vh;
  width: 85vw;
  background: linear-gradient(0deg, silver, whitesmoke, silver);
  box-shadow: rgb(37, 37, 37) -2px 2px;
  border-radius: 1em;
  padding: 1em;
  margin: 5% auto;
}

.open-card .project-sub-div { /* handles display of sub divs when card open */
  display: flex;
}

.open-card button, .open-card .project-sub-div * { /* handles display of buttons when card open. Also handles display of all sub div elements when card open */
  display: block;
}

.open-card-content:hover {
  cursor: default;
}

.project-sub-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0.5em;
  align-content: space-between;
}

.project-sub-div > * {
  flex-basis: 100%;
}

/* LINKS PAGE */
#links-main {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5em;
  justify-content: stretch;
  align-items: center;
  align-content: space-around;
}

#links-main div {
  flex-grow: 1;
  text-transform: uppercase;
  font-size: 1em;
  padding: 1em;
  display: flex;
  flex-flow: column wrap;
  gap: 1em;
  justify-content: space-evenly;
  align-items: center;
}

#links-main img {
  max-width: 50%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

#links-main ul {
  display: inline;
  list-style-type: none;
  padding: 0;
}

#links-main li, #links-main h5 {
  padding: 0.75em;
  font-weight: 700;
  color:rgb(33, 33, 92)
}

#links-main h5 {
  font-size: 1.25em;
  line-height: 1.5em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: 1px solid rgba(33, 33, 92, 0.7);
  background-color: rgb(85, 85, 250);
  border-radius: 5px;
  box-shadow: rgb(33, 33, 92) -2px 2px 5px;
  margin-bottom: 0.5em;
}

#links-main li {
  transition: transform .3s;
  display: flex;
  justify-content: stretch;
  text-align: left;
  align-items: center;
  gap: 1em;
}

/* .cool-link {
  font-size: 0.75em;
} */


#links-main li:hover {
  transform: scale(1.25);
}

#links-main a {
  text-decoration: none;
  color:rgb(33, 33, 92)
}

/* CONTACT PAGE */
#contact-main {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
  padding: 1em;
  align-items: center;
}

#contact-main h3 {
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
}

#contact-main img {
  max-width: 90vw;
  border-radius: 5px;
}

#contact-main div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

hr {
  width: 90%;
}

#contact-main h5 {
  align-self: center;
}

#contact-main div > * {
  margin: 0.5em 0;
}

#contact-main textarea {
  width: 90%;
}

/* FOOTER */
footer {
  padding: 0.5em;
  border-top: white solid 0.125em;
}

footer > * {
  text-align: center;
  padding: 2px 0;
  /* padding-left: 15%; */
}

footer h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  text-shadow: darkblue 5px 2px 15px;
}


@media (min-width: 275px) {
  h1 {
    font-size: 2em;
  }

  footer h4 {
    font-size: 0.75em;
  }

}

@media (min-width: 400px) {
  h1 {
    font-size: 2.75em;
  }

  footer h3 {
    font-size: 1.25em;
  }
  footer h4 {
    font-size: 1em;
  }
}

@media (min-width: 430px) {
  #bio-main {
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
  }

  .about-pic, #bio-main article {
    width: 45%;
  }

  .open-card-content {
    flex-flow: row wrap;
  }

  .open-card-content > div {
    flex-basis: 80%;
  }
}



@media (min-width: 500px) {
  header {
    height: 25vh;
  }
  
  h1 {
    font-size: 3.25em;
  }

  .home-nav {
    padding: 0.5em;
  }

  .nav-link {
    padding: 0.25em;
    margin: 0.25em auto;
  }

  .nav-link a {
    font-size: 1.25em;
  }
  
  .open-card img {
    max-height: 40vh;
    max-width: 30vw;
  }

  .open-card-content > div {
    flex-flow: row wrap;
    flex-basis: 35%;
  }

  .open-card .project-description {
    font-size: 1em;
  }

  .open-card .project-title {
    font-size: 1.5em;
  }

  .open-card .project-type {
    font-size: 1.25em;
  }

  #links-main {
    gap: 1em;
  }

  #links-main img {
    max-width: 40%;
  }

  #links-main div {
    font-size: 1em;
    padding: 1em;
    flex-flow: row wrap;
  }

  #links-main ul {
    max-width: 40%;

  }

  #contact-main img {
    max-width: 50vw;
  }

  footer {
    padding: 0.75em;
    text-align: left;
  }

  footer > * {
    text-align: left;
    padding: 5px 0 5px 15%;
  }

  footer h3 {
    font-size: 1.75em;
  }

  footer h4 {
    font-size: 1.5em;
  }
}

@media (min-width: 620px) {
  header {
    justify-content: flex-start;
  }
  
  h1 {
    font-size: 4em;
    padding-left: 15%;
  }

  .nav-link a {
    font-size: 1.5em;
  }

  #bio-main h3 {
    flex-basis: 100%;
  }

  .about-pic {
    max-width: 30%;
  }

  #bio-main p {
    font-size: 1.25em;
  }

  #resume-main {
    width: 50%;
  }

  #links-main div {
    font-size: 1.5em;
  }

  footer {
    padding: 1em;
  }

  footer h3 {
    font-size: 2em;
  }

  footer h4 {
    font-size: 1.75em;
  }
}

@media (min-width: 800px) {
  h1 {
    font-size: 5.25em;
  }

  .nav-link a {
    font-size: 2em;
  }

  .home-nav {
    z-index: 1; /*fixes small issue with wide screens cutting off the nav content*/
  }

  .open-card-content {
    flex-flow: row wrap;
  }

  .open-card-content > div {
    flex-basis: 40%;
  }

  .open-card .project-description {
    font-size: 1em;
  }

  .open-card .project-title {
    font-size: 1.5em;
  }

  .open-card .project-type {
    font-size: 1.25em;
  }

  .open-card img {
    max-height: 80%;
    max-width: 80%;
  }

  footer h3 {
    font-size: 2.5em;
  }

  footer h4 {
    font-size: 2em;
  }
}

  