body {
  box-sizing: border-box;
  text-align: center;
}

header {
  height: 25vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}

h1 {
  width: 80%;
  font-size: 2.75em;
  text-align: left;
  padding-left: 15%;
  text-shadow: darkblue 5px 2px 15px;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.125em;
}

.nav-link {
  font-size: 1em;
  width: 50%;
  margin: 1em auto;
  padding: 0.5em;
  line-height: 2em;
  transition: transform .5s;
}

.nav-link:hover {
  transform: scale(2);
}

.sub-page-nav .nav-link {
  display: inline;
}

#bio-main {
  width: 80%;
  margin: 1em auto;
}
#bio-main img, #bio-main article {
  width: 45%;
  display: inline-block;
}

#resume-main {
  max-height: 90vh;
}

#projects-main {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: flex-start;

}

.card {
  margin: 10px 0;
  padding: 5px;
  width: 85vw;
  flex-basis: 250px;
  background: linear-gradient(0deg, silver, whitesmoke, silver);
  border: 2px solid #222222;
  border-radius: 10px;
  box-shadow: grey 2px 2px 2px;
  transition: all 1s;
}

.card > * {
  margin: 5px;
}

.card:hover {
  cursor: pointer;
}

.project-img, .project-description, .live-link, .github-link {
  display: none;
}

.open-card > * {
  display: inline-block;

}

footer {
  padding: 1em;
}

footer > * {
  text-align: left;
  padding-left: 15%;
}

footer h3 {
  font-size: 2em;
  text-shadow: darkblue 5px 2px 15px;
}

@media (min-width: 480px) {
  header {
    height: 40vh;
  }
  
  h1 {
    font-size: 4em;
  }
}
  