@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Red+Hat+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport {
  zoom: 1;
  width: extend-to-zoom;
}


body {
  box-sizing: border-box;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: space-between;
  background: radial-gradient(rgb(114, 170, 189), rgb(192, 192, 192))
}

header {
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-bottom: white solid 0.125em;
}

h1 {
  width: fit-content;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  /* text-align: left; */
  /* padding-left: 15%; */
  text-shadow: darkblue 5px 2px 15px;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1em;
  font-style: italic;
  
}

nav, main, h4 {
  font-family: 'Red Hat Display', sans-serif;
}

header, nav, footer {
  background: linear-gradient(345deg, blue, navy, blue);
  color: white;
}

.home-nav {
  min-width: 48vw;
  min-height: 40vh;
  margin: auto;
  padding: 0.5em;
  border-radius: 20px;
  border: rgb(238, 238, 238) solid 1px;
  box-shadow: white 2px 2px 10px, white 2px -2px 10px, white -2px 2px 10px, white -2px -2px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.nav-link-list {
  max-height: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-content: center;
}

.nav-link a {
  color: rgb(238, 238, 238);
  text-decoration: none;
  text-shadow: white -1px 1px 20px; /* cool soft focus effect on links */
}

.sub-page-nav {
  height: 10vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center; /* only centers the sub-nav */
  align-items: center;
  z-index: 999;
}

.sub-page-nav .nav-link {
  display: inline;
  padding: 0 0.5em;
  transition: transform .3s;
}

.sub-page-nav .nav-link {
  transform: scale(2);
}

.nav-link {
  font-size: 1em;
  margin: 0.5em auto;
  padding: 0.5em;
  /* line-height: 2em; */
  transition: transform .3s;
}

.nav-link:hover {
  transform: scale(2);
}

main {
  background: linear-gradient(345deg, rgb(149, 149, 204), rgb(85, 85, 250), rgb(149, 149, 204));
  color: black;
  box-shadow: rgb(37, 37, 37) 2px 2px 2px;
  border-radius: 5px;
  width: 90%;
  margin: 1em auto;
}

/* BIO PAGE */
#bio-main {
  width: 90%;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
}

#bio-main h3 {
  font-weight: bold;
  font-size: 2em;
  font-style: italic;
}

#bio-main img, #bio-main article {
  max-height: 90%;
  max-width: 90%;
  display: inline;
  object-fit: contain;
  object-position: bottom;
}

#bio-main p {
  text-align: justify;
  font-size: 1.125em;
  padding: 0.5em 0;
  line-height: 1.125em;
}

/* RESUME PAGE */
#resume-main img {
  margin: 10px auto;
  max-height: 1000px;
  max-width: 95%;
}

/* PROJECTS PAGE */
#projects-main {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: flex-start;

}

.card {
  margin: 10px 0;
  padding: 5px;
  width: 85vw;
  flex-basis: 250px;
  background: linear-gradient(0deg, silver, whitesmoke, silver);
  border: 2px solid #222222;
  border-radius: 10px;
  box-shadow: black -2px 2px 2px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.card > * {
  flex-basis: 100%;
}

.project-title {
  font-weight: bold;
  color:rgb(33, 33, 92);
  text-shadow: whiteblack 3px 3px 0px;
}

.card > img {
  flex-basis: 60%;
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: top;
}

.card:hover {
  cursor: pointer;
}

.project-img, .project-description, .live-link, .github-link {
  display: none;
}

.open-card > * {
  display: block;
  flex-basis: 100%;
}

/* LINKS PAGE */
#links-main {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5em;
  justify-content: stretch;
  align-items: center;
  align-content: space-around;
}

#links-main div {
  flex-grow: 1;
  text-transform: uppercase;
  font-size: 1em;
  padding: 1em;
  display: flex;
  flex-flow: column wrap;
  gap: 1em;
  justify-content: space-evenly;
  align-items: center;
}

#links-main img {
  max-width: 50%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

#links-main ul {
  display: inline;
  list-style-type: none;
  padding: 0;
}

#links-main li, #links-main h5 {
  padding: 0.75em;
  font-weight: 700;
  color:rgb(33, 33, 92)
}

#links-main h5 {
  font-size: 1.25em;
  line-height: 1.5em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: 1px solid rgba(33, 33, 92, 0.7);
  background-color: rgb(85, 85, 250);
  border-radius: 5px;
  box-shadow: rgb(33, 33, 92) -2px 2px 5px;
  margin-bottom: 0.5em;
}

#links-main li {
  transition: transform .3s;
  display: flex;
  justify-content: stretch;
  text-align: left;
  align-items: center;
  gap: 1em;
}

/* .cool-link {
  font-size: 0.75em;
} */


#links-main li:hover {
  transform: scale(1.25);
}

#links-main a {
  text-decoration: none;
  color:rgb(33, 33, 92)
}

/* CONTACT PAGE */
#contact-main {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
  padding: 1em;
  align-items: center;
}

#contact-main h3 {
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
}

#contact-main img {
  max-width: 90vw;
  border-radius: 5px;
}

#contact-main div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

hr {
  width: 90%;
}

#contact-main h5 {
  align-self: center;
}

#contact-main div > * {
  margin: 0.5em 0;
}

#contact-main textarea {
  width: 90%;
}

/* FOOTER */
footer {
  padding: 0.5em;
  border-top: white solid 0.125em;
}

footer > * {
  text-align: center;
  padding: 2px 0;
  /* padding-left: 15%; */
}

footer h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  text-shadow: darkblue 5px 2px 15px;
}


@media (min-width: 275px) {
  h1 {
    font-size: 2em;
  }

  footer h4 {
    font-size: 0.75em;
  }

}

@media (min-width: 400px) {
  h1 {
    font-size: 2.75em;
  }

  footer h3 {
    font-size: 1.25em;
  }
  footer h4 {
    font-size: 1em;
  }
}

@media (min-width: 430px) {
  #bio-main {
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
  }

  #bio-main img, #bio-main article {
    width: 45%;
  }
}
@media (min-width: 500px) {
  header {
    height: 25vh;
  }
  
  h1 {
    font-size: 3.25em;
  }

  .home-nav {
    padding: 0.5em;
  }

  .nav-link {
    padding: 0.25em;
    margin: 0.25em auto;
  }

  .nav-link a {
    font-size: 1.25em;
  }
  
  #links-main {
    gap: 1em;
  }

  #links-main img {
    max-width: 40%;
  }

  #links-main div {
    font-size: 1em;
    padding: 1em;
    flex-flow: row wrap;
  }

  #links-main ul {
    max-width: 40%;

  }

  #contact-main img {
    max-width: 50vw;
  }

  footer {
    padding: 0.75em;
    text-align: left;
  }

  footer > * {
    text-align: left;
    padding: 5px 0 5px 15%;
  }

  footer h3 {
    font-size: 1.75em;
  }

  footer h4 {
    font-size: 1.5em;
  }
}

@media (min-width: 620px) {
  header {
    justify-content: flex-start;
  }
  
  h1 {
    font-size: 4em;
    padding-left: 15%;
  }

  .nav-link a {
    font-size: 1.5em;
  }

  #bio-main h3 {
    flex-basis: 100%;
  }

  #bio-main img {
    max-width: 30%;
  }

  #bio-main p {
    font-size: 1.25em;
  }

  #links-main div {
    font-size: 1.5em;
  }

  footer {
    padding: 1em;
  }

  footer h3 {
    font-size: 2em;
  }

  footer h4 {
    font-size: 1.75em;
  }
}

@media (min-width: 800px) {
  h1 {
    font-size: 5.25em;
  }

  .nav-link a {
    font-size: 2em;
  }

  .home-nav {
    z-index: 1; /*fixes small issue with wide screens cutting off the nav content*/
  }

  footer h3 {
    font-size: 2.5em;
  }

  footer h4 {
    font-size: 2em;
  }

}
  